<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
  form,p{
text-align: center;
  }
 
</style>
</head>
<body>

<img src="/static/twitter.jpeg" width="300" height="168.75">

<form action="{{ url_for("publish")}}" method="post" >
<input type="submit" value="Publish">
</form>

<form action="{{ url_for("subscribe")}}" method="post" >
<input type="submit" value="Subscribe/Unsubscribe">
</form>

<form action="{{ url_for("subscriptions")}}" method="get" >
<input type="submit" value="Subscriptions">
</form>

<form action="{{ url_for("ads")}}" method="post" >
<input type="submit" value="Advertise/De-Advertise">
</form>

</body>
</html>
